.interactivephoto-container {
  padding: 50px;
}
.btn-design {
  background-color: #000;
  border: none;
  border-radius: 50px;
  color: #fff;
  font-size: 1.4rem;
  margin-top: 20px;
  padding: 15px;
  transition: background-color 0.3s;
  width: 200px;
}
.container {
  text-align: center;
}

.image {
  align-items: start;
  background-size: cover;
  border-radius: 75px;
  color: #fff;
  border-color: white;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: end;
  width: 400px;
  position: relative;
}
.indicator-container {
  align-content: center;
  margin-left: 150px;
}
.indicator {
  background-color: gray;
  border-radius: 50%;
  cursor: pointer;
  height: 12px;
  margin: 0 12px;
  transition: transform 0.3s ease, width 0.3s ease;
  width: 12px;
}
.indicator.active {
  background-color: #000;
  border-radius: 50%;
  transform: scale(1.5);
}
.indicator.inactive {
  background-color: #d3d3d3;
}
.scroll-animation {
  animation: scrollIndicator 0.5s forwards;
}
@keyframes scrollIndicator {
  0% {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

.panel-button {
  background-color: initial;
  border: 2px solid #e1e7e4;
  border-radius: 50%;
  color: #e1e7e4;
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  justify-content: center;
  width: 40px;
  margin: 5px;
  padding: 20px;
  align-items: center;
  display: flex;
}

.icon {
  font-weight: 700;
}

.active-button {
  background-color: green;
}

.panel {
  position: absolute;
  top: 100px;
  left: 0;
  height: calc(100% - 50px); /* Full height minus 30px */
  background-color: #154d3b;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  height: 180px;
  padding: 10px;
  width: 50px;
  align-items: center;
  z-index: 2;
}

/* Vertical strip area (left) */
.image::before {
  content: "";
  position: absolute;
  top: 80px; /* Leave 30px at the top */
  left: 0;
  width: 80px; /* 50px width for the strip */
  height: calc(100% - 10px); /* Cover the rest of the height */
  background-color: white; /* Background color for stripped area */
  z-index: 2;
  border-top-right-radius: 40px; /* Smooth curve at the top right of the strip */
}

/* Horizontal strip area (bottom) */
.image::after {
  content: "";
  position: absolute;
  bottom: 0px;
  border-radius: 40px;
  left: 150px; /* Leave 150px on the left */
  width: calc(100% - 150px); /* Cover remaining width */
  height: 50px; /* 50px height for the strip */
  background-color: white;
}

.text-area {
  position: absolute;
  left: 150px;
  width: calc(100% - 150px); /* Cover remaining space after 150px */
  height: 90px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  z-index: 2;
  overflow-y: auto;
  border-top-left-radius: 40px;
}
