.hero {
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #0d1f16;
  color: #fff;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: start; /* Center content horizontally */
}

.hero-btn {
  padding: 15px; /* Increase button size */
  font-size: 1.4rem; /* Make font larger */
  background-color: #a3f573;
  margin-top: 20px;
  color: #000;
  border: none;
  border-radius: 50px; /* Optional: Adjust border radius */
  transition: background-color 0.3s; /* Smooth background color change */
  width: 250px; /* Keep a consistent button width */
}

.cc-info {
  font-style: italic;
  font-size: 14px;
  text-align: center;
}

.highlight {
  color: #a3f573;
}

.hero-cards {
  display: flex;
  gap: 30px; /* Space between cards */
}

.card {
  background-color: rgba(27, 43, 34, 0.8);
  background-size: cover; /* Cover the entire card */
  padding: 10px;
  border-radius: 70px !important;
  color: #fff;
  height: 500px !important;
  width: 150px !important;
  justify-content: flex-end;
  align-items: center;
  transition: width 1s ease; /* Smooth transition */
  overflow: hidden; /* Hide overflow content */
}

/* Initially hide the description */
.card p,
.card h1 {
  display: none;
}

/* Rotate title for vertical display */
.card h2 {
  writing-mode: vertical-rl; /* Rotate title to vertical */
  transform: rotate(180deg); /* Adjust rotation for correct orientation */
  font-size: 2rem; /* Smaller font size for initial state */
  color: #fff;
}

.card.active {
  width: 400px !important;
}

/* Hover effect */
.card:hover {
  width: 400px !important;
}

/* Show description on hover */
.card.active p,
.card:hover p {
  display: block; /* Show description on hover */
  font-size: 1rem; /* Adjust font size */
  color: white;
}

.card.active h1,
.card:hover h1 {
  display: block; /* Show description on hover */
  color: white;
  transition: width 2s ease; /* Smooth transition for width */
}

/* Change title to horizontal and show description on hover */
.card.active h2,
.card:hover h2 {
  display: none;
}

.card img {
  width: 100%; /* Full width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px; /* Match card's border radius */
}

.hover-area {
  display: flex; /* Use flex to center the card */
  justify-content: center; /* Center the card */
  align-items: center; /* Center vertically */
  margin: 10px; /* Add space around the hover area */
  transition: transform 0.3s ease; /* Optional: Smooth transition effect */
  overflow: auto; /* Hide overflow content */
}

.hover-area:hover {
  transform: scale(1.07); /* Optional: Slightly scale up on hover */
}
