.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #0d1f16;
  position: relative;
  z-index: 1;
}

.navbar-logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.nav-buttons {
  display: flex;
}

.btn-login {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 20px;
  text-decoration: none;
}

.btn-try-free {
  background-color: #48a868;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
}

.menu-toggle {
  display: none;
}

/* Responsive */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .nav-links-mobile {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #0d1f16;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    padding: 20px;
  }
}
